
.contenedor-main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 120rem;
    width:80%;
    min-width: 60rem; /**lO MISMO QUE ARRIBA**/
    margin: 3rem auto 0 auto;
}

.contenedor-infog{
    max-width: 70rem;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 2rems;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-header h2{
    font-size: 2.2rem; 
}

.infog-body{
    max-width: 70rem;
    margin: 0.8rem 0;
}

.btn.btn-secondary.btn-enlace{
    width: 50%;
    height: 3.8rem;
    margin: 0.4rem 0;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}

footer{
    padding-top: 1.5rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1.8rem;
}
footer .contededor{
    display: flex;
    justify-content:space-evenly;
}
.utp, .fisc{
    height: 8em;
    width: 8em;
    background-color: white;
    border-radius: 70px;
}

