html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body{
      height: 100vh;
      font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: rgb(238,174,202);
background: linear-gradient(27deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
text-align: center;
  }

  html h1{
      padding-top: 0rem;
      text-align: center;
      font-size: 4rem;
      padding-bottom: 4rem;
    

  }
  h3{
      text-align: center;
      font-size: 4rem;
  }
  #bdark{
      text-align: end;
    
      
  }
 
  
  .enviar{
    margin-left: 45%;
    
  }

  .reg{
  margin-left: 41.5rem;
  margin-right: 2.5rem;
  
  }
 
  .Botones.Ini, .oscuro{
    margin-top: 1rem ;
   position: relative;
   overflow: hidden;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 4.5rem;
   padding: 0 3rem;
   font-family: inherit;
   font-size: 1.25rem;
   border: 0;
   border-radius: 0.5rem;
   background: transparent;
   color: white;
   cursor: pointer;
   outline: none;
   transition-property: background, box-shadow;
   transition-duration: 0.35s;
  }
  .Botones.Ini:hover{
    background: #5526c5;
  }
  .Botones.Ini:focus{
   box-shadow: 0 0 0 3px #8659e9;
 }
 .oscuro{
   color: white;
  margin-left: 0%;
  background: #5526c5;
}

  /**Globales**/
  
  .contenedor {
    max-width: 120rem;
    width:90%;
    width: min(90%, 1290rem); /**lO MISMO QUE ARRIBA**/
    margin: 0 auto;
  }
 .regresar{
margin-left: 2rem;
margin-right: 90%;
background: #252850;
  }
  .regresar:hover{
  background: #5526c5;
}
  form{
    margin: 0 auto;
    padding: 5rem 10rem 5rem 10rem; 
    margin-top: 2rems;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
  }
  
 label{
   font-size: 1.85rem;
}
 input{
     
     text-align: center;
     border: none;
  font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;

}

::placeholder {
    margin-left: -5rem;
    font-size: 1em;
  }
  


  body.darkmode{
    background: rgb(2,0,36);
    background: -moz-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(24,24,70,1) 56%, rgba(7,23,26,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(24,24,70,1) 56%, rgba(7,23,26,1) 100%);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(24,24,70,1) 56%, rgba(7,23,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#07171a",GradientType=1);
      color: white;
  }
  .dark{
    margin-left: 90%;
  }

  h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .IniSec{
  margin: 1rem;
  padding-right: 5rem;
  
  }

  input.Botones.Ini{
 background-color: #252850;
font-size: 1.25rem;
 border: 0;
 border-radius: 0.5rem;
  }
 
